$max-width-app: 1600px;

* {
  outline: none;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  background-color: var(--body-bg-color);
  font-family: var(--body-font);
  color: var(--body-color);
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

 .app{
  display: flex;
  flex-direction: column;
  background-color: var(--theme-bg-color);
  max-width: $max-width-app;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
}
