.chatArea {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
  &Header {
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background: var(--chat-header-bg);
  }
  &Profile {
    width: 32px;
    border-radius: 50%;
    object-fit: cover;
  }
  &Title {
    font-size: 18px;
    font-weight: 600;
  }
  &Main {
    flex-grow: 1;
  }
}

.chatMsgImg {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.chatMsgProfile {
  flex-shrink: 0;
  margin-top: auto;
  margin-bottom: -20px;
  position: relative;
}

.chatMsgDate {
  position: absolute;
  left: calc(100% + 12px);
  bottom: 0;
  font-size: 12px;
  font-weight: 600;
  color: var(--msg-date);
  white-space: nowrap;
}

.chatMsg {
  display: flex;
  padding: 0 20px 45px;
  &Content {
    margin-left: 12px;
    max-width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &Text {
    background-color: var(--chat-text-bg);
    padding: 15px;
    border-radius: 20px 20px 20px 0;
    line-height: 1.5;
    font-size: 14px;
    font-weight: 500;
    & + & {
      margin-top: 10px;
    }
  }
}

.chatMsgText {
  color: var(--chat-text-color);
}

.owner {
  flex-direction: row-reverse;
  .chatMsgContent {
    margin-left: 0;
    margin-right: 12px;
    align-items: flex-end;
  }
  .chatMsgText {
    background-color: var(--theme-color);
    color: #fff;
    border-radius: 20px 20px 0 20px;
  }
  .chatMsgDate {
    left: auto;
    right: calc(100% + 12px);
  }
}

.chatMsgText img {
  max-width: 300px;
  width: 100%;
}

.chatAreaFooter {
  display: flex;
  border-top: 1px solid var(--border-color);
  width: 100%;
  padding: 10px 20px;
  align-items: center;
  background-color: var(--theme-bg-color);
  position: sticky;
  bottom: 0;
  left: 0;
}

.chatAreaFooter svg {
  color: var(--settings-icon-color);
  width: 20px;
  flex-shrink: 0;
  cursor: pointer;
  &:hover {
    color: var(--settings-icon-hover);
  }

  & + svg {
    margin-left: 12px;
  }
}

.chatAreaFooter input {
  border: none;
  color: var(--body-color);
  background-color: var(--input-bg);
  padding: 12px;
  border-radius: 6px;
  font-size: 15px;
  margin: 0 12px;
  width: 100%;
  &::placeholder {
    color: var(--input-chat-color);
  }
}
