.snackbar{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;

  width: 155px;
  height: 45px;
  border-width: 0px;
  background: #4ADE80;
  border-radius: 22px;
  opacity: 0;
  transition: 0.5s;
  transform: scale(0.5);
}

.snackbar.active{
  opacity: 1;
  transform: scale(1);
}
.snackbar__text{
  width: 107px;
  height: 21px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 129%;

  text-align: center;
}


