$input__search__width: 250px;
$input__search__height: 22px;
$user__name__size: 16px;
$modal__overlay__width: 100%;
$modal__overlay__height: 100%;
$modal__overlay__background__color: rgba(0, 0, 0, 0.3);
$modal__margin__top: 200px;
$modal__win__width: 700px;
$modal__win__height: 600px;
$modal__win__background__color: white;
$modal__close__width: 18px;
$modal__close__height: 18px;
$user_image__width: 75px;
$user_image__height: 75px;
$input__loupe__width: 30px;
$input__loupe__height: 30px;

.modal {
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: $modal__overlay__width;
    height: $modal__overlay__height;
    background-color: $modal__overlay__background__color;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
    z-index: 99999;
  }
  .overlay.active {
    opacity: 1;
    pointer-events: all;
  }

  .modal {
    display: flex;
    justify-content: center;
    margin-top: $modal__margin__top;
  }

  .modal__win {
    overflow-y: auto;
    width: $modal__win__width;
    height: $modal__win__height;
    border: solid;
    border-width: 1px;
    border-radius: 20px;
    background-color: var(--body-bg-color);
    transition: 0.5s all;
    transform: scale(0.5);
  }

  .modal__win.active {
    transform: scale(1);
  }

  .modal__content {
  }

  .close {
    width: $modal__close__width;
    height: $modal__close__height;
  }

  .modal__close {
    width: $modal__close__width;
    height: $modal__close__height;
    color: var(--modal__close__color);
    margin: 15px 15px;
  }
  .modal__close:hover {
    color: var(--modal__close__color__hover);
  }

  .count_user {
    display: flex;
    margin-top: 20px;
    padding-left: 15px;
  }

  .user_image {
    width: $user_image__width;
    height: $user_image__height;
  }

  .user__name {
    color: var(--chat-text-color);
    font-size: $user__name__size;
    font-weight: initial;
    padding-left: 15px;
  }

  .user__mail {
    font-size: 12px;
    color: var(--gray);
    padding-left: 15px;
  }

  .input__modal {
    display: flex;

  }

  .input__search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 13px 10px 12px;
    gap: 13px;
    margin-bottom: 20px;
    width: 0;
    height: $input__search__height;
    border-width: 1px;
    border-radius: 60px;
    transition: 0.5s all;
    transform: scale(0);
  }
  .input__search.active {
    transform: scale(1);
    width: $input__search__width;
  }

  .input__loupe {
    width: $input__loupe__width;
    height: $input__loupe__height;
    border-radius: 60px;
    transition: 1s;
    transform: scale(1);
  }

  .input__loupe.active {
    transform: scale(0);
    display: none;
  }

  .button__user {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 13px 10px 12px;
  }
  .button_page {
    gap: 13px;
    border: none;
    width: 120px;
    height: 52px;
    margin-left: 10px;
    background: var(--button-bg-color);
    border-radius: 6px;
  }
}
